td{
	text-align: center;
	padding: 0px 10px;
}

table, td, th {
  border: 1px solid black;
}

#left{
	text-align: left;
}

#header-e1 {float: left;
padding-right: 5px;
}
#header-e2 {overflow: hidden;}
#header-e3 {float: right;}